{% extends 'admin-base.html' %}
{% now "Y-m-d" as today_date%}
{% load static %}

{% block content %}
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Attendance</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Attendance</li>
								</ul>
								 <br>
								
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					{% comment %} <div class="row">
						<div class="col-md-4">
							<div class="card punch-status">
								<div class="card-body">
									<h5 class="card-title">Timesheet <small class="text-muted">11 Mar 2019</small></h5>
									<div class="punch-det">
										<h6>Punch In at</h6>
										<p>Wed, 11th Mar 2019 10.00 AM</p>
									</div>
									<div class="punch-info">
										<div class="punch-hours">
											<span>3.45 hrs</span>
										</div>
									</div>
									<div class="punch-btn-section">
										<button type="button" class="btn btn-primary punch-btn">Punch Out</button>
									</div>
									<div class="statistics">
										<div class="row">
											<div class="col-md-6 col-6 text-center">
												<div class="stats-box">
													<p>Break</p>
													<h6>1.21 hrs</h6>
												</div>
											</div>
											<div class="col-md-6 col-6 text-center">
												<div class="stats-box">
													<p>Overtime</p>
													<h6>3 hrs</h6>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card att-statistics">
								<div class="card-body">
									<h5 class="card-title">Statistics</h5>
									<div class="stats-list">
										<div class="stats-info">
											<p>Today <strong>3.45 <small>/ 8 hrs</small></strong></p>
											<div class="progress">
												<div class="progress-bar bg-primary" role="progressbar" style="width: 31%" aria-valuenow="31" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="stats-info">
											<p>This Week <strong>28 <small>/ 40 hrs</small></strong></p>
											<div class="progress">
												<div class="progress-bar bg-warning" role="progressbar" style="width: 31%" aria-valuenow="31" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="stats-info">
											<p>This Month <strong>90 <small>/ 160 hrs</small></strong></p>
											<div class="progress">
												<div class="progress-bar bg-success" role="progressbar" style="width: 62%" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="stats-info">
											<p>Remaining <strong>90 <small>/ 160 hrs</small></strong></p>
											<div class="progress">
												<div class="progress-bar bg-danger" role="progressbar" style="width: 62%" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class="stats-info">
											<p>Overtime <strong>4</strong></p>
											<div class="progress">
												<div class="progress-bar bg-info" role="progressbar" style="width: 22%" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card recent-activity">
								<div class="card-body">
									<h5 class="card-title">Today Activity</h5>
									<ul class="res-activity-list">
										<li>
											<p class="mb-0">Punch In at</p>
											<p class="res-activity-time">
												<i class="fa fa-clock-o"></i>
												10.00 AM.
											</p>
										</li>
										<li>
											<p class="mb-0">Punch Out at</p>
											<p class="res-activity-time">
												<i class="fa fa-clock-o"></i>
												11.00 AM.
											</p>
										</li>
										<li>
											<p class="mb-0">Punch In at</p>
											<p class="res-activity-time">
												<i class="fa fa-clock-o"></i>
												11.15 AM.
											</p>
										</li>
										<li>
											<p class="mb-0">Punch Out at</p>
											<p class="res-activity-time">
												<i class="fa fa-clock-o"></i>
												1.30 PM.
											</p>
										</li>
										<li>
											<p class="mb-0">Punch In at</p>
											<p class="res-activity-time">
												<i class="fa fa-clock-o"></i>
												2.00 PM.
											</p>
										</li>
										<li>
											<p class="mb-0">Punch Out at</p>
											<p class="res-activity-time">
												<i class="fa fa-clock-o"></i>
												7.30 PM.
											</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div> {% endcomment %}

					<!-- Search Filter -->
					<div class="row filter-row">						
						<div class="col-sm-3">  
						<form method="GET">
						{% csrf_token %}
							<div class="form-group form-focus">
								<div class="cal-icon">
									<input type="text" name="selectDate" class="form-control floating datetimepicker">
								</div>
								<label class="focus-label">Date</label>
							</div>
						</div>
						<div class="col-sm-3"> 
							<div class="form-group form-focus select-focus">
								<select name="searchMonth" class="select floating"> 
									<option value="">-</option>
									<option value="1">Jan</option>
									<option value="2">Feb</option>
									<option value="3">Mar</option>
									<option value="4">Apr</option>
									<option value="5">May</option>
									<option value="6">Jun</option>
									<option value="7">Jul</option>
									<option value="8">Aug</option>
									<option value="9">Sep</option>
									<option value="10">Oct</option>
									<option value="11">Nov</option>
									<option value="12">Dec</option>
								</select>
								<label class="focus-label">Select Month</label>
							</div>
						</div>
						<div class="col-sm-3"> 
							<div class="form-group form-focus select-focus">
								<select name="searchYear" class="select floating"> 
									<option value="">-</option>									
									<option>2021</option>
									<option>2020</option>
									<option>2019</option>
									<option>2018</option>
									<option>2017</option>
								</select>
								<label class="focus-label">Select Year</label>
							</div>
						</div>
						<div class="col-sm-3">  
							<input type="submit" name="btnAttendanceSearch" class="btn btn-success btn-block" value="Submit">  
						</div>				

						</form>     
                    </div>
					<!-- /Search Filter -->
					<button style="margin:20px 0;" id="btnExport" class="btn btn-danger"> Export Table</button>
					
                    <div class="row">
                        <div class="col-lg-12">
							<div class="table-responsive">
								<table class="table-attendance table table-striped custom-table mb-0">
									<thead>
										<tr>
											
											<th>Employee ID</th>
											<th>Employee Name</th>
											<th>Date</th>
											<th>Punch In</th>
											<th>Punch Out</th>
											<th>Total Minutes</th>
											<th>Total Hours</th>
											{% comment %} <th>Overtime</th> {% endcomment %}
										</tr>
									</thead>
									<tbody>
				
										{% for employee in emp %}																		
											{% for attendance in empatt %}
							
											{% if employee.employee_id == attendance.employee_id_id %}				
											
											
											<tr>
												<td>{{employee.employee_id}}</td>
												<td>{{employee.firstname}} {{employee.lastname}}</td>
												<td>{{attendance.todaydate|date:"M d,Y"}}</td>
												<td><p style="display:inline" >{{attendance.timein|time:"h:i A"}} </p>
													<p style="display:inline; visibility:hidden" class="empTimeIn-{{ forloop.counter }}">{{attendance.timein|time:"H:i"}}</p>
													{% if attendance.timein > employee.sched_start %}
														<p style="display:inline; padding:2px 10px; border-radius:50px" class="btn-danger">Late</p>
													{% else %} 
														<p style="display:inline; padding:2px 10px; border-radius:50px"  class="btn-success">On Time</p>
													{% endif %}
												</td>
												<td><p style="display:inline">{{attendance.timeout|time:"h:i A"}}</p>
													<p style="display:inline; visibility:hidden" class="empTimeOut-{{ forloop.counter }}">{{attendance.timeout|time:"H:i"}}</p></td>
												<td><p id="totalMin" style="display:inline" class="total-min-{{ forloop.counter }}"></p></td>
												<td><p id="totalHr" style="display:inline" class="total-hr-{{ forloop.counter }}"></p></td>
												
											</tr>											
										{% endif %}										
										{% endfor %}
										{% comment %} {% endif %} {% endcomment %}
									
										{% endfor %}									
									</tbody>
								</table>
							</div>
                        </div>
                    </div>
                </div>
				<!-- /Page Content -->
				
            </div>
			<!-- Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->
{% endblock content %}

{% block script %}
		<!-- jQuery -->
        <script src="{% static '/admin/assets/js/jquery-3.5.1.min.js' %}"></script>

		<!-- Bootstrap Core JS -->
        <script src="{% static '/admin/assets/js/popper.min.js' %}"></script>
        <script src="{% static '/admin/assets/js/bootstrap.min.js' %}"></script>

		<!-- Slimscroll JS -->
		<script src="{% static '/admin/assets/js/jquery.slimscroll.min.js' %}"></script>
		
		<!-- Select2 JS -->
		<script src="{% static '/admin/assets/js/select2.min.js' %}"></script>
		
		<!-- Datatable JS -->
		<script src="{% static '/admin/assets/js/jquery.dataTables.min.js' %}"></script>
		<script src="{% static '/admin/assets/js/dataTables.bootstrap4.min.js' %}"></script>
		
		<!-- Datetimepicker JS -->
		<script src="{% static '/admin/assets/js/moment.min.js' %}"></script>
		<script src="{% static '/admin/assets/js/bootstrap-datetimepicker.min.js' %}"></script>

		<!-- Custom JS -->
		<script src="{% static '/admin/assets/js/app.js' %}"></script>

				<!-- Table Export -->
		<script src="{% static '/admin/assets/js/jquery.table2excel.js' %}"></script>




		<script>

			function roundOff(x) {
			return Number.parseFloat(x).toFixed(2);
			}


			$( document ).ready(function() {
			

				//Export Table
				
				$("#btnExport").click(function(){
						$(".table-attendance").table2excel({
						exclude:".noExl",
						name:"Worksheet Name",
						filename:"UniOrient-Attendance",//do not include extension
						fileext:".xlsx" // file extension
					});
				});
				
				var totalRow = $('table.table-attendance tr:last').index() + 1;
				
				for(let i = 1; i <= totalRow; i++){
					var timeIn = $('p.empTimeIn-'+i).text();
					var timeOut = $('p.empTimeOut-'+i).text();
					
					
					timeIn = timeIn.replace(/:/g, "");
					timeOut = timeOut.replace(/:/g, "");
					var totalMin = timeOut-timeIn;
					var totalHr = totalMin/60;
					//alert(totalMin);
					$('.total-min-'+i).text(roundOff(totalMin));
					$('.total-hr-'+i).text(roundOff(totalHr));
				}
				
			});

			$('.datetimepicker').datetimepicker({
				format: 'YYYY-MM-DD'
			 });
		</script>

{% endblock script %}
