{% extends 'admin-base.html' %}
{% load static %}

{% block style %}

<style>
			.id-card-holder {
			width: 300px;
		    padding: 4px;
		    margin: 0 auto;
		    background-color: #1f1f1f;
		    border-radius: 5px;
		    position: relative;
		}
		.id-card-holder:after {
		    content: '';
		    width: 7px;
		    display: block;
		    background-color: #0a0a0a;
		    height: 100px;
		    position: absolute;
		    top: 105px;
		    border-radius: 0 5px 5px 0;
		}
		.id-card-holder:before {
		    content: '';
		    width: 7px;
		    display: block;
		    background-color: #0a0a0a;
		    height: 100px;
		    position: absolute;
		    top: 105px;
		    left: 289px;
		    border-radius: 5px 0 0 5px;
		}
		.id-card {
			
			background-color: #fff;
			padding: 10px;
			border-radius: 10px;
			text-align: center;
			box-shadow: 0 0 1.5px 0px #b9b9b9;
		}

		.id-header img {
			width: 50px;
    		margin-top: 15px;
		}
		.id-card img {
			margin: 0 auto;
		}
		.photo img {
			width: 80px;
    		margin-top: 15px;
		}
</style>

{% endblock style %}

{% block content %}			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
					<!--Success message-->
					<div class="row">
            			<div class="col-lg-12">

							{% if messages %}
							{% for message in messages %}
							<br>
								<div class="alert alert-success shadow fade show" role="alert"
									style="border-left:#155724 5px solid; border-radius: 0px">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true" style="color:#155724">&times;</span>
									</button>
									<div class="row">
										<svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="m-1 bi bi-shield-fill-check"
											fill="currentColor" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd"
												d="M8 .5c-.662 0-1.77.249-2.813.525a61.11 61.11 0 0 0-2.772.815 1.454 1.454 0 0 0-1.003 1.184c-.573 4.197.756 7.307 2.368 9.365a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586a11.191 11.191 0 0 0 2.418-2.3c1.611-2.058 2.94-5.168 2.367-9.365a1.454 1.454 0 0 0-1.003-1.184 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5zm2.854 6.354a.5.5 0 0 0-.708-.708L7.5 8.793 6.354 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
										</svg>
										<p style="font-size:18px" class="mb-0 font-weight-light"><span
												class="mr-1 font-weight-bold">Success!</span> {{message}}</p>
									</div>
								</div>
								<br>
								{% endfor %}
								{% endif %}

						</div>
					</div>
					<!--end of success message-->				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Employee</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Employee</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<a href="#" class="btn add-btn" id="add-btn" data-toggle="modal" data-target="#add_employee"><i class="fa fa-plus"></i> Add Employee</a>
								<div class="view-icons">
									<a href="{% url 'all-employee' %}" class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
									<a href="{% url 'employee-list' %}" class="list-view btn btn-link"><i class="fa fa-bars"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<!-- Search Filter -->
					<form method="GET">
					<div class="row filter-row">
						<div class="col-sm-6 col-md-3">  
							<div class="form-group form-focus">
								<input name="q1" type="search" class="form-control floating">
								<label class="focus-label">Employee ID</label>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">  
							<div class="form-group form-focus">
								<input name="q2" type="search" class="form-control floating">
								<label class="focus-label">Employee Name</label>
							</div>
						</div>
						<div class="col-sm-6 col-md-3"> 
							<div class="form-group form-focus select-focus">
								<select name="q3" class="select floating"> 
									<option value="">~ Select Designation ~</option>
									{% for designation in desig %}
										<option value="{{designation.id}}">{{designation.designation_name}}</option>											
									{% endfor %}
								</select>
								<label class="focus-label">Designation</label>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">  
							<button type="submit" name="SearchEmp" class="btn btn-success btn-block"> Search </button>  
						</div>
                    </div>
					</form>
					<!-- Search Filter -->
					
					<div class="row staff-grid-row">

						{% for employee in empl  %}
						<div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
							<div class="profile-widget">
								<div class="profile-img">
									<a href="profile/{{employee.employee_id}}" class="avatar" name="Profile"><img src="https://picsum.photos/200" alt=""></a>
								</div>
								<div class="dropdown profile-action">
									<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
									<div class="dropdown-menu dropdown-menu-right">
										<a href="#" class="dropdown-item" data-toggle="modal" data-target="#edit_employee{{employee.employee_id}}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
										<a href="#" class="dropdown-item" data-toggle="modal" data-target="#delete_employee{{employee.employee_id}}"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
									</div>
								</div>
								<h4 class="user-name m-t-10 mb-0 text-ellipsis"><a name="Profile" href="profile/{{employee.employee_id}}">{{employee.firstname}} {{employee.lastname}}</a></h4>
								<div class="small text-muted">{{employee.designation_name.designation_name}}</div>
							</div>
						</div>
						{% endfor %}

					</div>
                </div>
				<!-- /Page Content -->
								
				<!-- Add Employee Modal -->
				<div id="add_employee" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add Employee</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								 <div class="row">
										<div class="col-sm-12">

											<div class="id-card-holder" id="id-card-holder">
												<div class="id-card">
													<div class="id-header">
														<img src="{% static '/home/assets/img/uni-logo-transparent.png' %}" alt="Logo Uni Orient">
														<h4>Uni Orient Travel, Inc. (Cebu)</h4>
													</div>
													<br>
													<div class="profile-img">
														<a href="profile/17841930" class="avatar" name="Profile"><img src="{% static '/admin/assets/img/persona.jpeg' %}" alt=""></a>
													</div>
													<br>
													<h4><span id="qrFirstname">First Name</span> <span id="qrLastname">Last Name</span></h4>
													
													<br>
													<div id="qrcode-container">
															<center><canvas id="qrcode" class="qrcode"></canvas></center>
													</div>
													
													<hr>
													<p style="font-size:10px;">Capitol Square, <p>
													<p style="font-size:10px;">82, N Escario St, Cebu City</p>
													<p style="font-size:10px;">Phone: +63 (032) 253 1866 | E-mail: info@uniorient.com</p>

												</div>
											</div>

											<br>
											<center><button class="btn btn-primary" onclick="generateQRCode()">Generate QR Code</button></center>
											<br>
											<center><button class="btn btn-primary" id="saveBtn">Save Image</button></center>
											<br>
										</div>
									</div>
								<form method="POST">
									{% csrf_token %}
									<div class="row">

										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Employee ID <span class="text-danger">*</span></label>
												<input id="employee_id" name="employee_id" class="form-control" type="text" readonly/>
											</div>
										</div>

										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">First Name <span class="text-danger">*</span></label>
												<input id="firstname_text" name="firstname_text" class="form-control" type="text">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Last Name <span class="text-danger">*</span></label>
												<input id="lastname_text" name="lastname_text" class="form-control" type="text">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Username <span class="text-danger">*</span></label>
												<input name="username_text" class="form-control" type="text">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Email <span class="text-danger">*</span></label>
												<input name="email_text" class="form-control" type="email">
											</div>
										</div>
										{% comment %} <div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Password <span class="text-danger">*</span></label>
												<input name="password_text" id="password" class="form-control" type="password" required>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Confirm Password <span class="text-danger">*</span></label>
												<input name="password2_text" id="confirm-password" class="form-control" type="password" required>
											</div>
										</div> {% endcomment %}
										<div class="col-sm-6">  
											<div class="form-group">
												<label class="col-form-label">Gender <span class="text-danger">*</span></label>
												<select name="gender_text" class="select">
													<option>~ Select Gender ~ </option>												
													<option>Male</option>	
													<option>Female</option>																						
												</select>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Phone <span class="text-danger">*</span></label>
												<input name="phone_text" class="form-control" type="text">
											</div>
										</div>

										{% comment %} <div class="col-md-6">
											<div class="form-group">
												<label>Department <span class="text-danger">*</span></label>
												<select name="department_text" class="select">
												{% for depart in dept %}
													<option>{{depart.department_name}}</option>											
												{% endfor %}
												</select>
											</div>
										</div> {% endcomment %}
										<div class="col-md-6">
											<div class="form-group">
												<label>Designation <span class="text-danger">*</span></label>
												<select name="designation_text" class="select">
												{% for designation in desig %}
													<option value="{{designation.id}}">{{designation.designation_name}}</option>											
												{% endfor %}
												</select>
											</div>
										</div>
									</div>
									
									<div class="submit-section">
										<button name="btnSubmitEmployee" class="btn btn-primary submit-btn">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Add Employee Modal -->

				<!-- Edit Employee Modal -->
				{% for employee in empl %}
				<div id="edit_employee{{employee.employee_id}}" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Edit Employee</h5>								
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form method="POST">
								{% csrf_token %}
									<div class="row">
									<input type="hidden" name="emplID" value="{{employee.employee_id}}">
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">First Name <span class="text-danger">*</span></label>
												<input class="form-control" name="firstname_update" value="{{employee.firstname}}" type="text">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Last Name</label>
												<input class="form-control" name="lastname_update" value="{{employee.lastname}}" type="text">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Username <span class="text-danger">*</span></label>
												<input class="form-control" name="username_update" value="{{employee.username}}" type="text">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Email <span class="text-danger">*</span></label>
												<input class="form-control" name="email_update" value="{{employee.email}}" type="email">
											</div>
										</div>
										{% comment %} <div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Password</label>
												<input class="form-control" value="johndoe" type="password">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Confirm Password</label>
												<input class="form-control" value="johndoe" type="password">
											</div>
										</div> {% endcomment %}
										<div class="col-sm-6">  
											<div class="form-group">
												<label class="col-form-label">Employee ID <span class="text-danger">*</span></label>
												<input type="text" name="empid_update" value="{{employee.employee_id}}" readonly class="form-control floating">
											</div>
										</div>
										{% comment %} <div class="col-sm-6">  
											<div class="form-group">
												<label class="col-form-label">Joining Date <span class="text-danger">*</span></label>
												<div class="cal-icon"><input class="form-control datetimepicker" type="text"></div>
											</div>
										</div> {% endcomment %}
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Phone </label>
												<input class="form-control" name="phone_update" value="{{employee.phone}}" type="text">
											</div>
										</div>
										{% comment %} <div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Company</label>
												<select class="select">
													<option>Global Technologies</option>
													<option>Delta Infotech</option>
													<option selected>International Software Inc</option>
												</select>
											</div>
										</div> {% endcomment %}
										{% comment %} <div class="col-md-6">
											<div class="form-group">
												<label>Department <span class="text-danger">*</span></label>
												<select name="department_name" class="select">
												{% for department in dept %}
													<option value="{{department.department_name}}" {% if employee.department == department.department_name %} 
														selected="selected"{% endif %}>{{department.department_name}}</option>											
												{% endfor %}
												</select>
											</div>
										</div> {% endcomment %}
										<div class="col-md-6">
											<div class="form-group">
												<label>Designation <span class="text-danger">*</span></label>
												<select name="designation_name" class="select">
												{% for designation in desig %}
													<option value="{{designation.id}}" {% if employee.designation_name.designation_name == designation.designation_name %} selected="selected"{% endif %}>{{designation.designation_name}}</option>											
												{% endfor %}
												</select>
											</div>
										</div>
									</div>

									<div class="submit-section">
										<input type="submit" class="btn btn-primary submit-btn" name="btnUpdateEmp" value="Save">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Edit Employee Modal -->
				
				<!-- Delete Employee Modal -->
				<div class="modal custom-modal fade" id="delete_employee{{employee.employee_id}}" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Delete Employee</h3>
									<p>Are you sure want to delete <strong>ID: {{employee.employee_id}}</strong> ? </p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a href="deleteEmployee/{{employee.employee_id}}" class="btn btn-primary continue-btn">Delete</a>
										</div>
										<div class="col-6">
											<a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Delete Employee Modal -->
				{% endfor %}
            </div>
				
				
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->
{% endblock content %}

{% block script %}
		<!-- jQuery -->
        <script src="{% static '/admin/assets/js/jquery-3.5.1.min.js' %}"></script>

		<!-- Bootstrap Core JS -->
        <script src="{% static '/admin/assets/js/popper.min.js' %}"></script>
        <script src="{% static '/admin/assets/js/bootstrap.min.js' %}"></script>

		<!-- Slimscroll JS -->
		<script src="{% static '/admin/assets/js/jquery.slimscroll.min.js' %}"></script>
		
		<!-- Slimscroll JS -->
		<script src="{% static 'admin/assets/js/jquery.slimscroll.min.js' %}"></script>
		
		<!-- Select2 JS -->
		<script src="{% static 'admin/assets/js/select2.min.js' %}"></script>
		
		<!-- Datetimepicker JS -->
		<script src="{% static '/admin/assets/js/moment.min.js' %}"></script>
		<script src="{% static '/admin/assets/js/bootstrap-datetimepicker.min.js' %}"></script>

		<!-- Custom JS -->
		<script src="{% static '/admin/assets/js/app.js' %}"></script>

		<script src="{% static '/admin/assets/js/qrcode.min.js' %}"></script>

		<!-- HTML to Image -->
		<script src="{% static '/admin/assets/js/html2canvas.min.js' %}"></script>

		<script type="text/javascript">
			var password = document.getElementById("password"), confirm_password = document.getElementById("confirm-password");

				function validatePassword(){
				if(password.value != confirm_password.value) {
					confirm_password.setCustomValidity("Passwords Don't Match");
				} else {
					confirm_password.setCustomValidity('');
				}
				}

				password.onchange = validatePassword;
				confirm_password.onkeyup = validatePassword;
		</script>


		<script>

			var emp = Math.floor(Math.random() * 9999);
			var empField = document.getElementById('employee_id').value = emp;

			var firstname = document.getElementById("firstname_text").value;
			
			$("#firstname_text").keyup(function() {
				var qrFirstname = $("#firstname_text").val();
				$("#qrFirstname").text(qrFirstname);
			});

			$("#lastname_text").keyup(function() {
				var qrLastname = $("#lastname_text").val();
				$("#qrLastname").text(qrLastname);
			});

		</script>

	 <script type="text/javascript">
			function generateQRCode() {
			let empid = document.getElementById("employee_id").value;

			
			if (empid) {
				let qrcodeContainer = document.getElementById("qrcode");
				qrcodeContainer.innerHTML = "";
				new QRious({
				element: qrcodeContainer,
				value: empid,
				size: 70
				});
				document.getElementById("qrcode-container").style.display = "block";
			} else {
				alert("Please enter a valid URL");
			}
			}
    </script>

	<script type="text/javascript">
		 $(document).ready(function () {

			  $("#saveBtn").on('click', function () {
                html2canvas(document.getElementById("id-card-holder")).then(function (canvas) {                   
                   var anchorTag = document.createElement("a");
				   var qrLastname = $("#lastname_text").val();
                    document.body.appendChild(anchorTag);
                    //document.getElementById("previewImg").appendChild(canvas);
                    anchorTag.download = ""+qrLastname+".jpg";
                    anchorTag.href = canvas.toDataURL();
                    anchorTag.target = '_blank';
                    anchorTag.click();
                });
    		});
 

        });
	</script>

{% endblock script %}
